@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* because we use the "rem" unit */
html {
  font-size: 10px;
}

body {
  font-family: "Roboto", "Arial", "sans-serif";
}

/* ====== HEADER STYLES ====== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 16px;
}

/* Left Section */
.left-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.left-section img {
  width: 46%;
  padding-left: 16px;
}
/* Mid Section */
.mid-section {
  display: flex;
  align-items: center;
  margin-left: -9px;
}
.mid-section form {
  display: flex;
  height: 40px;
  width: 628px;
}
.mid-section input {
  width: 100%;
  border-radius: 2px 0 0 2px;
  padding: 12px;
  font-size: 1.6rem;
  border: 1px solid #d3d3d3;
  border-right: none;
}
.mid-section button {
  width: 64px;
  border: 1px solid #d3d3d3;
  border-radius: 0 2px 2px 0;
  padding-top: 4px;
  background-color: #f8f8f8;
}
.mid-section button:hover {
  border-color: #c6c6c6;
  background-color: #f0f0f0;
  cursor: pointer;
}

.mid-section .mic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}
/* Right Section */
.right-section a {
  padding-right: 18px;
  text-decoration: none;
  color: black;
}

/* Content Area */
.content-area {
  height: calc(100vh - 56px);
  display: flex;
  background-color: #f9f9f9;
}

/* Sidebar */
aside {
  height: 100%;
  width: 280px;
  background-color: white;
  overflow-y: auto;
}

/* Nav  &&  NavLink*/
nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  padding-right: 15px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  text-decoration: none;
  color: black;
}
.nav-link:hover {
  background-color: rgb(0, 0, 0, 0.05);
}
.nav-link span {
  margin-left: 25px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2em;
  color: #030303;
}

.active {
  background-color: #e5e5e5;
}

#active-span {
  font-weight: 500;
}

hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
  margin: 10px 0;
}

nav p {
  font-size: 1.4rem;
  color: #606060;
  font-weight: 500;
  padding: 8px 16px;
  text-transform: uppercase;
}

.channel-img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
